
body{
	font-family:"Times New Roman", serif;
	background-color:white;
    color:black;}
header {height:130px;}
main {height:350px;}
    
h1{text-align: center;color:blue;}
h2{text-align: center;color: red;text-align: left;}
h3{text-align: center;color: green; font-style: italic;}

h3:first-child {text-align: right;}

form label, form span {color:blue; padding: 10px;}

#left {float:left;padding: 5px; margin:5px;}
#right {float:right;padding: 5px; margin:5px;}
#bottom {position:absolute;top:470px;}
footer {height:30px;}
